<template>
    <div class="section section-features">
        <div class="container">
            <h2>Opps!..</h2>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <div class="text">
                        <h5>
                            Unfortunately, we coudn't find the page your looking for.
                        </h5>
                        <p>
                            For more information, please check our <a href="https://www.ibventur.es/"> official
                                website</a>.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
