<template>
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image"
                :src="'../assets/img/template/bg3.jpg'">
        </div>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="description semi-transparent-black">
                        <h6>Iberian Venture</h6>
                        <h2>
                            We invest to generate value <br>
                            long-term, with no intention of selling.
                        </h2>
                        <h5>
                            We buy Spanish SMEs to take them to the highest levels of performance in digitization,
                            <br>
                            operations and innovation. We are interested in touching only what is worthwhile, not
                            just changing for change.
                        </h5>
                        <div class="buttons">
                            <p style="color: whitesmoke">
                                For more information, please check our <a href="https://www.ibventur.es/"> official
                                    website</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template