<template>
    <div class="section section-features">
        <div class="container">
            <h2>Thanks for sending information about your company.</h2>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <div class="text">
                        <h5>
                            It seems to fit “<a href="https://www.ibventur.es/">Iberian Ventures</a>" investment
                            criteria – an associate in the team will reach out to you for next steps
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
