<template>
    <div class="section section-features">
        <div class="container">
            <h2>Thanks for sending information about your company.</h2>
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <div class="text">
                        <h5>
                            Unfortunately, it seems that this company does not meet “<a
                                href="https://www.ibventur.es/">Iberian Ventures</a>" investment criteria. Regardless,
                            we will take a second look in detail and send you an email.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
