.semi-transparent-black{
  background: rgba(0, 0, 0, 0.2);
}

.dots {
  background: linear-gradient(50deg, #fff 9px, transparent 100%) center, linear-gradient(#fff 2px, transparent 100%) center, #ccc;
  background-size: 15px 15px;
  
  /* height: 10em;
  width: 30em; */
  position: relative;
}

