<template>
    <div class="section">
        <div class="container">
            <div class="description">
                <h4>If you are considering selling your company, one of the
                    fundamental questions is <b>"How much is my
                        company worth?"</b> - It is important that you have an idea of ​​what the value of your business
                    is and what elements are relevant.</h4>
                <h4>With a few pieces of information about your business, our tool will help you determine a valuation
                    (that is, how much € you could receive)</h4>
            </div>
        </div>
    </div>
</template>
