<template>
    <div class="parallax filter-gradient">
        <div class="parallax-background">
            <img class="parallax-background-image"
                :src="'../assets/img/showcases/showcase-1/bg2.jpg'">
        </div>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="description semi-transparent-black">
                        <h2>
                            “Business opportunities are like buses, there’s always another one coming.”
                            
                        </h2>
                        <h3 style="text-align: right;">
                            – <i>Richard Branson</i>
                        </h3>
                        <div class="buttons">
                            <p style="color: whitesmoke">
                                For more information, please check our <a href="https://www.ibventur.es/"> official
                                    website</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template