<template>
    <div class="parallax filter-gradient">
        <div class="parallax-background">
            <img class="parallax-background-image" :src="'../assets/img/showcases/showcase-1/bg3.jpg'">
        </div>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="description semi-transparent-black">
                        <h2>
                            “Success is not the key to happiness. Happiness is the key to success. If you love what you
                            are doing, you will be successful.”

                        </h2>
                        <h3 style="text-align: right;">
                            – <i>Albert Schweitzer</i>
                        </h3>
                        <div class="buttons">
                            <p style="color: whitesmoke">
                                For more information, please check our <a href="https://www.ibventur.es/"> official
                                    website</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template
