<template>
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" :src="'assets/img/showcases/showcase-2/bg2.jpg'">
        </div>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="description">
                        <h2>
                            Do you want to know how much your company is <span style="color: yellow">worth</span>?
                        </h2>
                        <h5>
                            With a few data about your business, we will tell you what its valuation is and if we are
                            interested in <span style="color: yellow">buying</span> it
                        </h5>
                        <div class="buttons">
                            <p style="color: whitesmoke">
                                For more information, please check our <a href="https://www.ibventur.es/"> official
                                    website</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template
