<template>
    <div class="section section-features">
        <div class="container">
            <h4 class="header-text">Our goal and commitment</h4>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-id"></i>
                        </div>
                        <div class="text">
                            <h5>Succession</h5>
                            <p>
                                Find a company with growth potential in the Spanish market that allows us to take
                                over from its owners.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-like2"></i>
                        </div>
                        <h5>Closeness to people</h5>
                        <p>
                            The people of the organization as a priority, fundamental for the continuity of the
                            project.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-like"></i>
                        </div>
                        <h5>Respect for the community</h5>
                        <p>
                            Commitment to the owners to respect the essence of their business after the purchase.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-flag"></i>
                        </div>
                        <h5>Pleasant and discreet process</h5>
                        <p>
                            Commitment to the company to carry out an agile, orderly and discreet transition.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>