<template>
    <div class="section section-presentation dots">
        <div class="container">
            <div class="description">
                <h6>Our Objective</h6>
                <h2>
                    Value proposal
                </h2>
                <p>
                    <span style="color: dodgerblue">Iberian Ventures</span> offers a different vision than other
                    investment profiles. We are a private
                    equity vehicle, but we don't want to be seen as a private equity. We want <span
                        style="color: dodgerblue">take over from
                        businessman to businessman, we are not financial.</span>
                </p>
                <p>
                    Join <span style="color: dodgerblue">tradition, stability and growing markets</span> as a basis
                    for digital transformation in a
                    long-term horizon.
                </p>
                <p>
                    We believe that the differential factor is the <span style="color: dodgerblue">technological
                        knowledge of the founding team,</span>
                    which can add extra value to the companies we buy.
                </p>
                <p>
                    Not thinking of a way out allows us <span style="color: dodgerblue">stay independent of
                        financial leverage.</span>
                </p>

            </div>
        </div>
    </div>
</template>