<template>
    <div class="container vld-parent">
        <h4>This valuation form is useful for companies with <span style="color: red">more than € 1M in sales per
                year</span>.</h4>
        <form @submit.prevent="submit" style="margin-top: 5%;">

        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"></loading>

            <div class="form-group">
                <label for="sector">
                    Sector in which your company operates:
                </label>
                <input type="text" class="form-control" placeholder="Sector or Industry" name="sector" id="sector"
                    v-model="fields.sector" />
                <div v-if="errors && errors.sector" class="text-danger">{{ errors.sector[0] }}</div>
            </div>

            <div class="form-group">
                <label for="email">Contact E-Mail</label>
                <input type="text" class="form-control" placeholder="Contact E-Mail" name="email" id="email"
                    v-model="fields.email" />
                <div v-if="errors && errors.email" class="text-danger">{{ errors.email[0] }}</div>
            </div>

            <div style="margin-top: 5%;">
                <div class="form-group row">
                    <label for="revenue" class="col-sm-4">Average <span style="color: red">turnover</span> of the last 3
                        years (in €):</label>
                    <div class="col-sm-8">
                        <currency-input type="text" class="form-control"
                            placeholder="What was the billing for the last year?" name="revenue" id="revenue"
                            v-model="fields.revenue" />
                        <div v-if="errors && errors.revenue" class="text-danger">{{ errors.revenue[0] }}</div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="years_of_growth" class="col-sm-4 col-form-label">Consecutive years <span
                            style="color: red">growing income</span>:</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="years_of_growth" id="years_of_growth"
                            v-model="fields.years_of_growth">
                            <option value="">Please select your choice</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">>3</option>
                        </select>
                        <div v-if="errors && errors.years_of_growth" class="text-danger">
                            {{ errors.years_of_growth[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="avg_EBITDA_last_3yrs" class="col-sm-4 col-form-label">Average <span
                            style="color: red">EBITDA</span> of the last 3 years (in €):</label>
                    <div class="col-sm-8">
                        <currency-input  type="text" class="form-control" placeholder="Net income before taxes and depreciation"
                            name="avg_EBITDA_last_3yrs" id="avg_EBITDA_last_3yrs"
                            v-model="fields.avg_EBITDA_last_3yrs" />
                        <div v-if="errors && errors.avg_EBITDA_last_3yrs" class="text-danger">
                            {{ errors.avg_EBITDA_last_3yrs[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="avg_net_last_3yrs" class="col-sm-4 col-form-label">Average <span
                            style="color: red">net</span> result of the last 3 years (in €):</label>
                    <div class="col-sm-8">
                        <currency-input  type="text" class="form-control" placeholder="Net result of the last year"
                            name="avg_net_last_3yrs" id="avg_net_last_3yrs" v-model="fields.avg_net_last_3yrs" />
                        <div v-if="errors && errors.avg_net_last_3yrs" class="text-danger">
                            {{ errors.avg_net_last_3yrs[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="years_positive_result" class="col-sm-4 col-form-label">Consecutive years with <span
                            style="color: red">positive result</span>:</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="years_positive_result" id="years_positive_result"
                            v-model="fields.years_positive_result">
                            <option value="">Please select your choice</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">>3</option>
                        </select>
                        <div v-if="errors && errors.years_positive_result" class="text-danger">
                            {{ errors.years_positive_result[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="net_debt" class="col-sm-4 col-form-label">Total net <span style="color: red">financial
                            debt</span> (in €):</label>
                    <div class="col-sm-8">
                        <currency-input type="text" class="form-control" placeholder="Total financial debt in Euros"
                            name="net_debt" id="net_debt" v-model="fields.net_debt" />
                        <div v-if="errors && errors.net_debt" class="text-danger">{{ errors.net_debt[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fixed_asset" class="col-sm-4 col-form-label">Total fixed <span
                            style="color: red">asset</span> (in €):</label>
                    <div class="col-sm-8">
                        <currency-input type="text" class="form-control" placeholder="Total financial debt in Euros"
                            name="fixed_asset" id="fixed_asset" v-model="fields.fixed_asset" />
                        <div v-if="errors && errors.fixed_asset" class="text-danger">{{ errors.fixed_asset[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">

                    <label for="biggest_shareholder" class="col-sm-4 col-form-label">Percentage of the company of the
                        largest shareholder:</label>
                    <div class="col-sm-2">
                        <input  type="text" class="form-control" placeholder="%" name="biggest_shareholder"
                            id="biggest_shareholder" v-model="fields.biggest_shareholder" />
                        <div v-if="errors && errors.biggest_shareholder" class="text-danger">
                            {{ errors.biggest_shareholder[0] }}</div>
                    </div>

                    <label for="revenue_from_biggest_client" class="col-sm-4 col-form-label">Percentage of billing that
                        comes from the largest customer:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="%" name="revenue_from_biggest_client"
                            id="revenue_from_biggest_client" v-model="fields.revenue_from_biggest_client" />
                        <div v-if="errors && errors.revenue_from_biggest_client" class="text-danger">
                            {{ errors.revenue_from_biggest_client[0] }}</div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="is_audited" class="col-sm-4 col-form-label">Has the company ever been audited ?:</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="is_audited" id="is_audited" v-model="fields.is_audited">
                            <option value=""></option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <div v-if="errors && errors.is_audited" class="text-danger">{{ errors.is_audited[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mergers_in_5yrs" class="col-sm-4 col-form-label">Purchase transactions or mergers in the
                        last 5 years?:</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="mergers_in_5yrs" id="mergers_in_5yrs"
                            v-model="fields.mergers_in_5yrs">
                            <option value=""></option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <div v-if="errors && errors.mergers_in_5yrs" class="text-danger">
                            {{ errors.mergers_in_5yrs[0] }}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sell_more_than_90perc" class="col-sm-4 col-form-label">Do you want to sell more than 90%
                        of the company?</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="sell_more_than_90perc" id="sell_more_than_90perc"
                            v-model="fields.sell_more_than_90perc">
                            <option value=""></option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <div v-if="errors && errors.sell_more_than_90perc" class="text-danger">
                            {{ errors.sell_more_than_90perc[0] }}</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</template>


<script>
// Import component
    import { CurrencyInput } from 'vue-currency-input'
    import Loading from 'vue-loading-overlay';
// Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    export default {
        data() {
            return {
                fields: {},
                errors: {},
                success: false,
                loaded: true,
                result: [],
                isLoading: false,
                fullPage: true
            }
        },
        components: {
            CurrencyInput,
            Loading
        },
        methods: {
            
            submit() {
                if (this.loaded) {
                    this.loaded = false;
                    this.success = false;
                    this.errors = {};
                    axios.post('/submit', this.fields).then(response => {
                        this.fields = {}; //Clear input fields.
                        this.loaded = true;
                        this.success = true;
                        this.splash_loading(response.data.decision)
                        // this.result = response.data.decision;
                        // console.log(this.result);
                    }).catch(error => {
                        this.loaded = true;
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors || {};
                        }
                    });
                }
            },
            splash_loading(data) {
                this.isLoading = true;
                // simulate AJAX
                setTimeout(() => {
                  this.isLoading = false
                  setTimeout(() => this.redirect(data), 1000)
                },5000)
            },
            onCancel() {
              console.log('User cancelled the loader.')
            },
            redirect(data){
                window.location = "notification"+ "/" + data
            },
        },
    }

</script>
